* {
  box-sizing: border-box;
}

.Background {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.header {
  max-width: 80vw;
  font-size: calc(10px + 2vmin);
}

.title > h1 {
  font-size: 5rem;
  margin: 0 auto;
}

.h3 {
  margin: auto;
}

.playerInput {
  width: 100%;
  margin: 0 auto;
}

.playerInputContainer {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  margin-top: 5rem;
  text-align: center;
}

.player-form {
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 1.25rem;
  color: white;
}
input {
  padding: 0.25rem 0.5rem;

  width: 4rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: #49a6e9;
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #49a6e9;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: #49a6e9;
  background: #444;
  border-color: #444;
}
.button-container {
  display: flex;
}

.increase,
.decrease {
  flex: 1;
  margin: 1px;
}

.assign {
  margin: auto 2%;
}

/* .inputContainer {
  flex: 2;
  color: white;
  border: white 2px solid;
  width: 500px;
  height: 150px;
  display:flex;
}

.goContainer {
  flex: 1;
  border: white 2px solid;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
