.list {
    background-color: gray;
    width: 16rem;
    /* height: 20rem; */
    margin: 1rem;
    flex-shrink: 0;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
}

h2 {
    margin-top: 0.5rem;
}

.list:first-child:nth-last-child(n + 4),
.list:first-child:nth-last-child(n + 4) ~ .list {
    height: 22rem;
}

@media (min-width: 50rem) {
    .list:first-child:nth-last-child(n + 4),
    .list:first-child:nth-last-child(n + 4) ~ .list {
    margin: 1rem 7%;
    }
}
    
@media (min-width: 72rem) {
    .list:first-child:nth-last-child(n + 4),
    .list:first-child:nth-last-child(n + 4) ~ .list {
    margin: 1rem;
  }
}

@media (min-width: 54rem) {
    .list:first-child:nth-last-child(n + 5),
    .list:first-child:nth-last-child(n + 5) ~ .list {
    margin: 1rem 0.5rem;
    }
}
    
@media (min-width: 68rem) {
    .list:first-child:nth-last-child(n + 5),
    .list:first-child:nth-last-child(n + 5) ~ .list {
    margin: 1rem 4%;
  }
}

@media (min-width: 90rem) {
    .list:first-child:nth-last-child(n + 5),
    .list:first-child:nth-last-child(n + 5) ~ .list {
    margin: 1rem;
  }
}

@media (min-width: 90rem) {
    .list:first-child:nth-last-child(n + 6),
    .list:first-child:nth-last-child(n + 6) ~ .list {
    margin: 1rem 5%;
  }
}

@media (min-width: 109rem) {
    .list:first-child:nth-last-child(n + 6),
    .list:first-child:nth-last-child(n + 6) ~ .list {
    margin: 1rem;
  }
}

.list:first-child:nth-last-child(n + 6),
.list:first-child:nth-last-child(n + 6) ~ .list {
    height: 20rem;
}

.list:first-child:nth-last-child(n + 6),
.list:first-child:nth-last-child(n + 6) ~ .list {
    height: 16rem;
}

.list li {
    padding: 2px;
    text-align: left;
}
