.list {
    background-color: gray;
    width: 20rem;
    /* height: 20rem; */
    margin: 1rem;
    flex-shrink: 0;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
}

.list:first-child:nth-last-child(n + 4),
.list:first-child:nth-last-child(n + 4) ~ .list {
    height: 22rem;
}

.list:first-child:nth-last-child(n + 5),
.list:first-child:nth-last-child(n + 5) ~ .list {
    height: 20rem;
}

.list:first-child:nth-last-child(n + 6),
.list:first-child:nth-last-child(n + 6) ~ .list {
    height: 16rem;
}

.list li {
    padding: 2px;
    text-align: left;
}
